@(facil: List[FacilityForDisplay])
@main("Qurilmalar") {
    @navbar("facil")
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Qurilma nomi</th>
                    <th>Image</th>
                    <th>Company</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            @for(i <- facil) {
                <tr>
                    <td>@i.facility.name</td>
                    <td><img src="@routes.Assets.at("images/"+i.facility.image)"/></td>
                    <td>@i.companyname</td>
                    <td><a href="@routes.Ambulance.remove(i.facility.id.get)" class="btn btn-danger">O'chirish</a> <a href="@routes.Ambulance.showeditform(i.facility.id.get)" class="btn btn-warning">O'zgartirish</a></td>
                </tr>
            }
            </tbody>

        </table>
    </div>
    @footer()
}