
<footer style="background-color : crimson">
    <div class="container">
        <br/>
        <div class="col-md-6">
            Created by J@@M$H!D OZODOV
            <br/>
            © 2014-2015
        </div>
        <div class="col-md-6 text-right">
            <ul class="list-inline">
                <li><a href="@routes.Application.index()">Tez yordam</a></li>
                <li><a href="@routes.Ambulance.showrug()">Dorilar</a></li>
                <li><a href="@routes.Ambulance.show()">Qurilmalar</a></li>
                <li><a href="@routes.Application.showdoc()">Shifokor huzurida</a></li>
            </ul>
        </div>
        <br/>
    </div>
</footer>