@main("Tez yordam") {
    @navbar("amb")

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="@routes.Assets.at("images/4.jpg")"/>
            </div>
            <div class="col-md-8">
                <h4>Tez yordam xizmatidan foydalanish uchun siz oldin ro'yhatdan o'tishingiz shart. </h4>
                <button class="btn btn-success">Ro'yhatdan o'tish</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        Viruslarning kelib chiqishi haqida
                    </div>
                    <div class="panel-body">
                        <img src="@routes.Assets.at("images/18.jpg")"/>
                        <p>Lorem ipsum dolor doloremque dolorum et eveniet expedita fugit inventore labore maxime minima minus mollitia numquam odit perspiciatis provident quae quidem quod sint unde velit voluptas voluptatibus voluptatum? Aliquid commodi consequuntur, corporis, culpa debitis delectus eligendi excepturi facere, nisi porro quasi quisquam quos similique sint tempore temporibus?</p>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-6">
                                10.03.2015
                            </div>
                            <div class="col-md-6 text-right">
                                5 <a href="#"><span class="glyphicon glyphicon-thumbs-up"></span></a> 1 <a href="#"><span class="glyphicon glyphicon-thumbs-down"></span></a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        Zuhra Olimova
                    </div>
                    <div class="panel-body">
                        <img src="@routes.Assets.at("images/9.jpg")"/>
                        <p><span class="glyphicon glyphicon-comment"></span>
                            Lorem ipsum dolor doloremque dolorum et eveniet expedita fugit inventore labore maxime minima minus mollitia numquam odit perspiciatis provident quae quidem quod sint unde velit voluptas voluptatibus voluptatum? Aliquid commodi consequuntur, corporis, culpa debitis delectus eligendi excepturi facere, nisi porro quasi quisquam quos similique sint tempore temporibus?</p>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-6">
                                11.03.2015
                            </div>
                            <div class="col-md-6 text-right">
                                5 <a href="#"><span class="glyphicon glyphicon-thumbs-up"></span></a> 1 <a href="#"><span class="glyphicon glyphicon-thumbs-down"></span></a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        Doctor group
                    </div>
                    <div class="panel-body">
                        <img src="@routes.Assets.at("images/8.jpg")"/>
                        <p><span class="glyphicon glyphicon-comment"></span>
                            Lorem ipsum dolor doloremque dolorum et eveniet expedita fugit inventore labore maxime minima minus mollitia numquam odit perspiciatis provident quae quidem quod sint unde velit voluptas voluptatibus voluptatum? Aliquid commodi consequuntur, corporis, culpa debitis delectus eligendi excepturi facere, nisi porro quasi quisquam quos similique sint tempore temporibus?</p>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-6">
                                12.03.2015
                            </div>
                            <div class="col-md-6 text-right">
                                10 <a href="#"><span class="glyphicon glyphicon-thumbs-up"></span></a> 4 <a href="#"><span class="glyphicon glyphicon-thumbs-down"></span></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        Reklama
                    </div>
                    <div class="panel-body">
                        <div class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="@routes.Assets.at("images/16.jpg")"/>
                                </div>
                                <div class="item">
                                    <img src="@routes.Assets.at("images/15.jpg")"/>
                                </div>
                                <div class="item">
                                    <img src="@routes.Assets.at("images/14.jpg")"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        Reklama
                    </div>
                    <div class="panel-body">
                        <div class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="@routes.Assets.at("images/21.jpg")"/>
                                </div>
                                <div class="item">
                                    <img src="@routes.Assets.at("images/22.jpg")"/>
                                </div>
                                <div class="item">
                                    <img src="@routes.Assets.at("images/23.jpg")"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        Reklama
                    </div>
                    <div class="panel-body">
                        <div class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="@routes.Assets.at("images/1.jpg")"/>
                                </div>
                                <div class="item">
                                    <img src="@routes.Assets.at("images/2.jpg")"/>
                                </div>
                                <div class="item">
                                    <img src="@routes.Assets.at("images/3.jpg")"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        Diqqat!
                    </div>
                    <div class="panel-body">
                        <img class="img-responsive" src="@routes.Assets.at("images/29.jpg")"/>
                        <p class="">Avtomabillarda maxsus aptechkalar bo'lishi shart.
                            Bu o'zingiz va yo'lovchilarga jarohat yetkanda kerak bo'ladi.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @footer()
}
